@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
#hero {
  width: 100%;
  background: transparent;
}
#hero .wrapper {
  width: 100%;
  overflow-x: hidden;
  background: radial-gradient(circle at bottom right, rgba(44, 114, 255, 0.6666666667), transparent), radial-gradient(circle at bottom left, rgba(218, 218, 186, 0.6666666667), transparent), radial-gradient(circle at top right, rgba(255, 0, 149, 0.6666666667), transparent), radial-gradient(circle at top left, rgba(10, 207, 221, 0.6666666667), transparent);
}
#hero .flexCenter {
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: top;
}
#hero .flexCenterVert {
  align-items: flex-start;
  flex-direction: column;
  vertical-align: top;
  padding: 0 5%;
}
#hero .jumbotron {
  font-size: 6.4vw;
  font-weight: bold;
  color: #fafafa;
  font-family: "Montserrat";
}
#hero .subTitle {
  font-size: 32px;
  color: #fafafa;
  font-family: "Montserrat";
}
#hero .label {
  color: #fafaca;
  padding: 2px 0;
  border-bottom: 2px solid yellow;
  width: 90%;
  font-family: "Montserrat";
}
#hero .fullCrop {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.02;
  border-radius: 12px;
  width: 90%;
}

#navigation, #navigationPhone {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
}
#navigation .pivot_menu, #navigationPhone .pivot_menu {
  padding: 12px 24px;
}
#navigation .pivot_menu .pivot_button, #navigationPhone .pivot_menu .pivot_button {
  display: inline-block;
  margin: 0 32px;
  font-family: "Montserrat";
}
#navigation .pivot_menu .onlyPhone, #navigationPhone .pivot_menu .onlyPhone {
  display: none;
}
#navigation .pivot_menu .notPhone, #navigationPhone .pivot_menu .notPhone {
  display: block;
}

#stacks {
  width: 100%;
  background: transparent;
}
#stacks .wrapper {
  width: 100%;
  overflow-x: hidden;
  background: #eaeaea;
}
#stacks .flexCenter {
  height: 90vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: top;
}
#stacks .flexCenterVert {
  align-items: flex-start;
  flex-direction: column;
  vertical-align: top;
  padding: 0 5%;
}
#stacks .title {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: bold;
  padding: 4px 0px;
}
#stacks .info {
  font-size: 18px;
  width: 80%;
  text-align: justify;
  font-family: "Montserrat";
}
#stacks .projectSlides {
  width: 90vw;
  height: 60vh;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
#stacks .projectSlides .itemWrapper {
  width: 320px;
  height: 320px;
  aspect-ratio: 1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 12px;
  margin: 20px 50px 0 10px;
}
#stacks .projectSlides .itemWrapper .projectTitle {
  font-size: 18px;
  font-family: "Montserrat";
}
#stacks .projectSlides .itemWrapper .projectTags {
  font-size: 14px;
  font-family: "Montserrat";
  text-align: justify;
}
#stacks .projectSlides .itemWrapper .iconRow {
  width: 100%;
  padding: 10px 0px;
}
#stacks .projectSlides .itemWrapper .iconRow .stackIcon {
  width: 20%;
  border-radius: 12px;
  border: 2px solid black;
  margin: 0 10px 0 0;
}
#stacks .stackBtns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#stacks .stackBtns button {
  width: 100px;
  height: 100px;
  margin: 20px;
  aspect-ratio: 1;
  border-radius: 12px;
  font-family: "Montserrat";
}
#stacks .stackBtns button:hover, #stacks .stackBtns button:active {
  opacity: 1;
  background-color: #326fff;
  color: #fcfcfc;
}
#stacks .iconRow {
  width: 60%;
  padding: 10px 0px;
}
#stacks .iconRow .stackIcon {
  width: 60px;
  border-radius: 12px;
  border: 2px solid black;
  margin: 0 10px 0 0;
}

#projects {
  width: 100%;
  background: transparent;
}
#projects .wrapper {
  width: 100%;
  background: #eaeaea;
  overflow-x: hidden;
}
#projects .flexCenter {
  height: 90vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: top;
}
#projects .flexCenterVert {
  align-items: flex-start;
  flex-direction: column;
  vertical-align: top;
  padding: 0 5%;
}
#projects .projectSlides {
  width: 90vw;
  height: 60vh;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
#projects .projectSlides .itemWrapper {
  width: 320px;
  aspect-ratio: 1;
  margin: 20px 50px 0 10px;
}
#projects .projectSlides .itemWrapper img {
  width: 100%;
  border-radius: 12px;
}
#projects .projectSlides .itemWrapper .projectTitle {
  font-size: 14px;
  font-family: "Montserrat";
}
#projects .projectSlides .itemWrapper .projectTags {
  font-size: 12px;
  font-family: "Montserrat";
}
#projects .title {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: bold;
  padding: 4px 0px;
}

#contact {
  width: 100%;
  background: transparent;
}
#contact .wrapper {
  width: 100%;
  overflow-x: hidden;
  background: radial-gradient(circle at bottom right, rgba(44, 114, 255, 0.6666666667), transparent), radial-gradient(circle at bottom left, rgba(255, 255, 190, 0.6666666667), transparent), radial-gradient(circle at top right, rgba(255, 0, 149, 0.6666666667), transparent), radial-gradient(circle at top left, rgba(27, 240, 255, 0.6666666667), transparent);
}
#contact .flexCenter {
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: top;
}
#contact .flexCenterVert {
  align-items: flex-start;
  flex-direction: column;
  vertical-align: top;
  padding: 0 5%;
}
#contact .title {
  width: 70%;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: bold;
  padding: 4px 0px;
}
#contact .info {
  width: 70%;
  font-size: 16px;
  font-family: "Montserrat";
  text-align: justify;
}
#contact .label {
  width: 70%;
  font-size: 12px;
  font-family: "Montserrat";
  text-align: justify;
}
#contact .socials a {
  background: #fafafa;
  color: #0e0e0e;
  margin: 8px 16px 0 0;
  padding: 4px 12px;
  border-radius: 6px;
  display: inline-block;
}
#contact .socials a:hover {
  background-color: #326fff;
  color: #eaeaea;
}
#contact .socials .mailBtn {
  background-color: #fafafa;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
  color: #0e0e0e;
  font-family: "Montserrat";
  font-weight: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#contact .socials .mailBtn:hover {
  background-color: #326fff;
  color: #eaeaea;
}

#hero, #stacks, #projects, #contact {
  overflow-y: hidden;
}

@media (min-width: 280px) and (max-width: 639px) {
  #navigation .pivot_menu .onlyPhone, #navigationPhone .pivot_menu .onlyPhone {
    display: block;
  }
  #navigation .pivot_menu .notPhone, #navigationPhone .pivot_menu .notPhone {
    display: none;
  }
  #hero .wrapper .flexCenter, #stacks .wrapper .flexCenter, #projects .wrapper .flexCenter, #contact .wrapper .flexCenter {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #hero .wrapper .flexCenterVert, #stacks .wrapper .flexCenterVert, #projects .wrapper .flexCenterVert, #contact .wrapper .flexCenterVert {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5%;
  }
  #hero .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  #hero .wrapper .flexCenter .jumbotron {
    font-size: 6vh;
    width: 90%;
    margin: 32px auto;
    text-align: center;
  }
  #hero .wrapper .flexCenter .small12 .subTitle, #hero .wrapper .flexCenter .small12 .label {
    width: 100%;
    text-align: center;
  }
  #hero .wrapper .flexCenter .small12 .fullCrop {
    margin: 20px auto;
    width: 80%;
    display: block;
  }
  #stacks .wrapper .flexCenter, #projects .wrapper .flexCenter {
    height: 80vh;
  }
  #stacks .wrapper .flexCenter .projectSlides, #projects .wrapper .flexCenter .projectSlides {
    padding-top: 5vh;
  }
  #stacks .wrapper .flexCenter .projectSlides .itemWrapper, #projects .wrapper .flexCenter .projectSlides .itemWrapper {
    width: 256px;
  }
  #stacks .wrapper .flexCenter .projectSlides .itemWrapper .iconRow .stackIcon, #projects .wrapper .flexCenter .projectSlides .itemWrapper .iconRow .stackIcon {
    width: 20%;
  }
  #contact .wrapper {
    height: 200vh;
  }
  #contact .socials, #contact .title, #contact .label {
    width: 80%;
  }
  #contact .socials .mailBtn, #contact .title .mailBtn, #contact .label .mailBtn {
    display: block;
  }
  #navigation .pivot_menu, #navigationPhone .pivot_menu {
    padding: 6px 0px;
  }
  #navigation .pivot_menu .pivot_button, #navigationPhone .pivot_menu .pivot_button {
    margin: 0px 12px;
  }
}
.sideMenuBtn {
  display: block;
  color: #0e0e0e;
  padding: 8px 12px;
  height: auto;
  text-align: center;
  width: 80%;
  margin: 10px auto 30px auto;
  border: 2px solid transparent;
  border-bottom: 2px solid #2e3e3e;
}
.sideMenuBtn:hover {
  border: 2px solid #000000;
}
.sideMenuBtn.primary_red {
  color: #fafafa;
}

.sidepanel_container {
  padding: 0;
  width: 100%;
}
.sidepanel_container .sidepanel_content {
  max-width: 100%;
  width: 100%;
  background-color: transparent;
}

.page_container {
  width: 100%;
}

.resumeWrapper {
  width: 100%;
  padding: 0 10%;
  background: radial-gradient(circle at top left, rgba(255, 153, 0, 0.2), transparent 40%), radial-gradient(circle at bottom left, rgba(250, 204, 255, 0.2), transparent 40%), radial-gradient(circle at bottom right, rgba(187, 255, 0, 0.2), transparent 60%), radial-gradient(circle at top right, rgba(0, 101, 175, 0.2), transparent 60%);
  background-attachment: fixed;
}
.resumeWrapper .resumeArea {
  padding: 0 0 20px 0;
  border-radius: 8px;
  background-color: #fafafa;
}
.resumeWrapper .resumeArea .row {
  display: block;
  padding: 4vh 5vh 0 5vh;
}
.resumeWrapper .resumeArea .row .oneFifth {
  width: 20%;
  margin: 0;
  padding: 0 20px 0 0;
  display: inline-block;
  vertical-align: top;
}
.resumeWrapper .resumeArea .row .oneFifth .heroImg {
  width: 120px;
  border-radius: 90px;
}
.resumeWrapper .resumeArea .row .oneFifth .title {
  color: #4e4e4e;
  font-size: 18px;
  font-family: "Lato";
  text-align: justify;
}
.resumeWrapper .resumeArea .row .fourFifth {
  width: 80%;
  margin: 0;
  padding: 0 20px 0 0;
  display: inline-block;
  vertical-align: top;
}
.resumeWrapper .resumeArea .row .fourFifth .address a {
  color: #4e4e4e;
  font-size: 14px;
  font-family: "Lato";
  padding: 0 20px 0 0;
}
.resumeWrapper .resumeArea .row .fourFifth .name {
  color: #0e0e0e;
  font-family: bold;
  font-size: 32px;
  font-family: "Lato";
  padding: 20px 0;
}
.resumeWrapper .resumeArea .row .fourFifth .bio {
  color: #4e4e4e;
  font-size: 22px;
  font-family: "Lato";
  padding: 0 48px 0 0;
}
.resumeWrapper .resumeArea .row .fourFifth .title {
  color: #1e1e1e;
  font-size: 22px;
  font-family: "Lato";
  text-align: justify;
}
.resumeWrapper .resumeArea .row .fourFifth .time {
  color: #1e1e1e;
  font-size: 14px;
  font-family: "Lato";
  text-align: justify;
}
.resumeWrapper .resumeArea .row .fourFifth .pointers {
  margin: 0;
  padding: 0 32px 0 16px;
}
.resumeWrapper .resumeArea .row .fourFifth .pointers li {
  margin: 0;
  padding: 6px 0;
  font-size: 18px;
  font-family: "Lato";
}
.resumeWrapper .resumeArea .row .fourFifth .links {
  display: flex;
  padding: 0;
  margin: 0;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
}
.resumeWrapper .resumeArea .row .fourFifth .links a {
  padding: 0 12px 0 0;
  margin: 0;
  color: #1e1e1e;
  font-weight: normal;
  border-bottom: 2px solid #4e4e4e;
  font-family: "Lato";
  font-size: 14px;
}
.resumeWrapper .resumeArea .row .fourFifth .links a:hover, .resumeWrapper .resumeArea .row .fourFifth .links a:active {
  border-bottom: 2px solid #0065ad;
}
.resumeWrapper .resumeArea .row .fourFifth .skills {
  display: flex;
  padding: 0;
  margin: 0 0 12px 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
}
.resumeWrapper .resumeArea .row .fourFifth .skills a {
  padding: 0 12px 0 0;
  margin: 0;
  color: #1e1e1e;
  font-weight: normal;
  font-family: "Lato";
  font-size: 16px;
  width: 25%;
}
.resumeWrapper .resumeArea .row .fourFifth .skills a::before {
  content: " ";
  display: inline-block;
  border: 5px solid #0065af;
  width: 20px;
  height: 20px;
  position: relative;
  left: -4px;
  top: 4px;
  border-radius: 20px;
  box-sizing: border-box;
}/*# sourceMappingURL=App.css.map */