@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Monoton&display=swap');

.sectionWrapper{
    background: #0e0e0e;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: scroll;
    

    .horizontalFrame{
        height: 100vh;
        

        .itemWrapper{
            height: 100vh;
            background-color: #fafafa;
            vertical-align: top;
            padding: 20px 30px;
            display: inline-block;

            .item{
                padding: inherit;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: 90vh;
                transition: 2s;

                h1{
                    font-family: 'Comfortaa';
                    font-size: 1.6rem;
                    margin-top: auto;
                }
                h2{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 4rem;
                }
                a{
                    background: #0e0e0e;
                    padding: 10px 20px;
                    color: #fafafa;
                    border-radius: 4px;
                }
                .socials{
                    margin: 12px 0;
                    padding: 0;

                    a{
                        margin: 0 8px 0 0;
                        font-size: 2.4rem;
                        padding: 0;
                    }

                }

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .itemLandscape{
            width: 72rem;
        }
        .itemPortrait{
            width: 36rem;
        }
        .transparent{
            opacity: 1;
        }

        .cover{
            background: radial-gradient(red, orange, cyan, blue);
            background-size: 400%;
            background-position: top left;
            background-clip: text;
            color: transparent;
            animation: coverAnim 20s linear infinite;
            padding: 0;

            .item{
                padding: 12vh 10vw;
                display: block;
                transform: none;

                &:hover{
                    transform: none;
                }
            }

            .tags{
                font-size: 4vh;
                font-family: 'Comfortaa';
            }
            .jumbotron{
                font-size: 16vh;
            }
            .name{
                font-family: 'Monoton';
            }
            .lhalf{
                line-height: 0.6;
            }
        }

        .contactus{
            background-color: #0e0e0e;

            .item{
                transform: none;

                a{
                    background: #fafafa;
                    color: #0e0e0e;
                }
                h1, h2{
                    color: #fafafa;
                }

                .socials{

                    a{
                        background: transparent;
                        color: #fafafa;
                        margin: 24px 16px 0 0;
                    }
                }
    
                &:hover{
                    transform: none;
                }
            }
        }
    }
}


@keyframes coverAnim {
    0%{
        background-position: top left;
    }
    25%{
        background-position: top right;
    }
    50%{
        background-position: bottom right;
    }
    75%{
        background-position: bottom left;
    }
    100%{
        background-position: top left;
    }
}

@media (max-width: 640px) {
    .sectionWrapper{
        background: #000;
        width: 100vw;
        height: auto;
        overflow: auto;
        overflow-x: hidden;

        .horizontalFrame{
            height: auto;
            width: 100vw;

            .itemWrapper{
                height: 100vh;
                width: 100vw;
                display:block;

                .item{

                    h2{
                        font-size: 3rem;
                    }
                }
                
            }

            .cover{
                .item{
                    padding: inherit;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    transition: 2s;
                    padding: 0px 16px;
    
                    .tags{
                        font-family: 'Comfortaa';
                        font-size: 1.5rem;
                    }
                    .jumbotron{
                        font-size: 4.6rem;
                    }
                }
                
            }
        }
    }
}