.frostInverted{
    background-color: #1e1e1eaa;
    color: #ffffff;
    backdrop-filter: blur(10px);
}
.navbarOrange{
    background-color: #ff8800;
    color: #ffffff;
}
.skillColor{
    background-color: #dadada;
}
.statColor{
    background-color: #ff0055;
    color: #fafafa;
}