*, .page_comtainer{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  scroll-snap-align: start;
  box-sizing: border-box;
}


::-webkit-scrollbar{
  background-color: #dacffa;
}
::-webkit-scrollbar-thumb{
  background-color: #00caca;
  border-radius: 16px;
}
@media (min-width: 280px) and (max-width: 639px) {
  ::-webkit-scrollbar{
   display: none;
  }
}