*, .page_container{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  scroll-snap-align: start;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  background-color: #acacac44;
}

::-webkit-scrollbar-thumb{
  background-color: #00aeffaa;
  border-radius: 8px;
}

#root{
  transition: 400ms;
  background-color: #000000;
  overflow: hidden;
}