*, .page_container{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: none;
  scroll-snap-align: none;
  box-sizing: border-box;
  cursor: none;
}

::-webkit-scrollbar{
  background-color: #acacac44;
}

::-webkit-scrollbar-thumb{
  background-color: #00aeffaa;
  border-radius: 8px;
}

#root{
  transition: 400ms;
  background-color: #000000;
  overflow: hidden;
}

#cursor{
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fafadaaa;
  position: fixed;
  top: 0;
  left: 0;
  transition: 200ms;
  pointer-events: none;
}